/*Slider*/
.slider img{
    min-width: 100% !important;
    max-height: 550px !important;

}



/*Align Center*/
.align-center{
    text-align: center;
}

/*jumbotron Head Styled*/
.jum-head{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 800;
}

/*Power talk*/
.power{
    font-family: fantasy;
    font-weight: 300;
    font-size: .9em;
}





/*Footer*/
.footer{
    color: #444444 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: .9em;


}
